[Unit]
Description=opends server
Wants=network-online.target
After=network-online.target

[Service]
User=opends
Group=opends
ExecStart=/usr/bin/opends-server --config /etc/opends.conf
SyslogLevelPrefix=no
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
